# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Programmieren\Advent of code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
